<!DOCTYPE html>
<html>
  <head>
    <title>Project Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>